// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';
// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

/*
  Little tag in header.    
*/  
.alpha-tag {
  background-color:$alpha-colour;
  color:white;
  font-size:16px;
  text-transform:uppercase;
  line-height:1;
  padding:4px 6px 1px 5px;
  margin-left:0.25em;
}

/*
  Top of the page phase banner bits.
*/
.phase {
  color:white;
  font-weight:700;
  padding:0.25em;
  text-align:center;
}
.phase-discovery {background-color:$discovery-colour;}
.phase-alpha     {background-color:$alpha-colour;}
.phase-beta      {background-color:$beta-colour;}
.phase-live      {background-color:$live-colour;}
.big_number {
  font-size:96px;
  font-weight:700;
  text-align:center;
}
/*
  Convienience classes for colouring text.
*/
.txt-discovery  {color:$discovery-colour}
.txt-alpha      {color:$alpha-colour}
.txt-beta       {color:$beta-colour}
.txt-live       {color:$live-colour}
/*
  Lists of links
*/
.link-list {
  border-left:10px solid black;
  padding:10px;
  font-size:16px;
  background-color:$panel-colour;
  li {margin-bottom:1em;}
}
.link-list-discovery {border-color:$discovery-colour;}
.link-list-alpha     {border-color:$alpha-colour;}
.link-list-beta      {border-color:$beta-colour;}
.link-list-live      {border-color:$live-colour;}