{% extends "layout.html" %}

{% block pageTitle %}
	DWP Digital Portfolio | Creating a digital delivery culture
{% endblock %}

{% block content %}

<main id="content" role="main">
	
	<p style="margin-top:30px;"><a href="/">Back to all the things we're doing</a></p>
	
		<section class="column-first">
		

		<h2 class="heading-large">Creating a digital delivery culture</h2>

		<p>To create a digital delivery culture we must adopt new ways of working and change our behaviours.</p>

<p>These principles support the change we need to make together.</p>

<p>As DWP teams delivering digital services we will:</p>


<ol class="principles">
     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">1. Work in the open</h1>
        </hgroup>
		<div class="outline">
           <p>We will always (when possible) work in the open. We encourage everyone to talk publicly about their work.</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">2. Share not send</h1>
        </hgroup>
		<div class="outline">
           <p>We share documents and work on them together to reduce e-mail traffic and increase collaborative working.</p>
        </div>
      </article>
     </li>

          <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">3. Meet regularly and always face to face/h1>
        </hgroup>
		<div class="outline">
           <p>Co-located teams work best. Regular face to face community meet ups work best. We will support and energise each other by working together</p>
        </div>
      </article>
     </li>

          <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">4. Less on process, more progress</h1>
        </hgroup>
		<div class="outline">
           <p>Focus on delivering working software rather than the process of building products.</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>

     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Title</h1>
        </hgroup>
		<div class="outline">
           <p>Description</p>
        </div>
      </article>
     </li>


</ol>

5. Deliver quickly and iterate

We will deliver small and often. We will build simple products and services which we test quickly 

and then iterate. We will follow agile principles. Think big, start small.

6. Start with user needs and measurable outcomes

We will always start with establishing what the problem is that we are trying to solve, we will 

understand what our user needs are and why things are a priority. We will measure our success 

by focusing on outcomes. 

7. Show not tell

We will show not tell.

8. Don’t wait for permission

Believing that you can’t cause positive change, or that you must seek permission from layers of 

management before giving a small improvement a go, can be stifling and lets good ideas go to 

waste.

9. People not resources 

We will invest in our people. We will ensure people are motivated, mentored, and supported so 

they become brilliant at their job (including opportunities for growth/career progression).

10. Build strong communities 

It’s not just about hiring great individuals it’s about creating great teams and building 

relationships across the teams creating great communities. 

11. Put the user at the centre of everything we do

We will ensure we identify user needs early and continue to review their needs at every stage of 

development.

		<!--
		<p>The digital portfolio belongs to the Department for Work &amp; Pensions (DWP) <a href="https://dwpdigital.blog.gov.uk/">Business Transformation Group (BTG)</a>.

		<h3 class="heading-medium">How to get something added to the portfolio</h3>
		<ol class="list list-number">
		<li>Contact the <a href="mailto:JAMES.JOHNSON1@dwp.gsi.gov.uk">portfolio team</a></li>
		<li>Work with them to define the problem you want to solve</li>		
		<li>They will help you finalise an Discovery Approval Document</li>
		<li>This document is then presented to the BTG management team who decide whether the work is added to the backlog and its priority</li>
		</ol>

		<h3 class="heading-medium">What happens next</h3>

		<p>The BTG Challenge and Support forum will bring your work out of the backlog when the right people become available.</p>

		-->
		</section>

</main>

{% endblock %}
