{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;">These are all the things we're doing:</p>

	<div class="grid-row">
		<section class="column-quarter">
			<div class="phase phase-discovery">Discovery</div>
			<div class="big_number txt-discovery">{{ counts.discovery }}</div>
		</section>
		<section class="column-quarter">
			<div class="phase phase-alpha">Alpha</div>
			<div class="big_number txt-alpha">{{ counts.alpha }}</div>
		</section>
		<section class="column-quarter">
			<div class="phase phase-beta">Beta</div>
			<div class="big_number txt-beta">{{ counts.beta }}</div>
		</section>
		<section class="column-quarter">
			<div class="phase phase-live">Live</div>
			<div class="big_number txt-live">{{ counts.live }}</div>
		</section>
	</div>

	{% for name, item in data %}
		<h2 class="heading-large service-area">{{ name }}</h2>
			<p>We're helping users to:</p>
			<div class="grid-row">				
				<section class="column-quarter">
					{% if item.discovery %}
					<ul class="link-list link-list-discovery">
						{% for bit in item.discovery %}
							<li><a href="{{ bit.id }}/{{ bit.name | lower | replace(' ','_') }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.alpha %}
					<ul class="link-list link-list-alpha">
						{% for bit in item.alpha %}
							<li><a href="{{ bit.id }}/{{ bit.name | lower | replace(' ','_') }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.beta %}
					<ul class="link-list link-list-beta">
						{% for bit in item.beta %}
							<li><a href="{{ bit.id }}/{{ bit.name | lower | replace(' ','_') }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.live %}
					<ul class="link-list link-list-live">
						{% for bit in item.live %}
							<li><a href="{{ bit.id }}/{{ bit.name | lower | replace(' ','_') }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
			</div>
	{% endfor %}

</main>

{% endblock %}
