{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% if view == 'theme' %}
	<p style="margin-top:30px;">These are all the things we're doing (<a href="/location/">order by location</a>)</p>
	{% else %}
	<p style="margin-top:30px;">These are all the things we're doing (<a href="/">order by theme</a>)</p>
	{% endif %}

	<div class="grid-row">
		<section class="column-quarter">
			<div class="tag discovery">Discovery</div>
			<div class="big_number txt-discovery">{{ counts.discovery }}</div>
		</section>
		<section class="column-quarter">
			<div class="tag alpha">Alpha</div>
			<div class="big_number txt-alpha">{{ counts.alpha }}</div>
		</section>
		<section class="column-quarter">
			<div class="tag beta">Beta</div>
			<div class="big_number txt-beta">{{ counts.beta }}</div>
		</section>
		<section class="column-quarter">
			<div class="tag live">Live</div>
			<div class="big_number txt-live">{{ counts.live }}</div>
		</section>
	</div>

	{% for name, item in data %}
		<h2 class="heading-large service-area">{{ name }}</h2>
			<!-- <p>We're helping users to:</p> -->
			<div class="grid-row">				
				<section class="column-quarter">
					{% if item.discovery %}
					<ul class="link-list border-discovery">
						{% for bit in item.discovery %}
							<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.alpha %}
					<ul class="link-list border-alpha">
						{% for bit in item.alpha %}
							<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.beta %}
					<ul class="link-list border-beta">
						{% for bit in item.beta %}
							<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
				<section class="column-quarter">
					{% if item.live %}
					<ul class="link-list border-live">
						{% for bit in item.live %}
							<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
						{% endfor %}						
					</ul>
					{% else %}&nbsp;{% endif %}
				</section>
			</div>
	{% endfor %}

</main>

{% endblock %}
