{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-large" style="margin-bottom:60px;">Here's all the other things we're doing&hellip;</h1>
	
	<h2 class="category-heading font-large">People</h2>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Digital DWP Careers</h3>
			<p>Lets users learn about digital and technology job roles starting with the story of how DWP is transforming services. The site has all latest job listings with the option to sign up to notifications.</p>
			<p class="project-links"><a href="http://digital-dwp.herokuapp.com/" class="secondary button">View prototype</a> <a href="http://digital.dwp.gov.uk/careers/" class=" button">View live site</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Pearl Cox</li>
				<li><span class="bold-xsmall">Design lead</span>: Charles Reynolds-Talbot</li>
				<li><span class="bold-xsmall">Content lead</span>: Tom Adams</li>
			</ul>
		</section>
	</div>

	<!--<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Digital DWP Events</h3>
			<p></p>
			<p class="project-links"><a href="https://events.dwp.gov.uk/" class=" button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Dean Timmons</li>
				<li><span class="bold-xsmall">Design lead</span>: TBC/li>
				<li><span class="bold-xsmall">Content lead</span>: TBC</li>
			</ul>
		</section>
	</div>-->
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Joining DWP</h3>
			<p>Tells users what they need to know before they start a new role at DWP, including where to go, and what to expect on their first day.</p>
			<p><a href="http://dwpwelcome.herokuapp.com/" class="button">View prototype</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: TBC</li>
				<li><span class="bold-xsmall">Content lead(s)</span>: Tom Adams &amp; Mel Cannon</li>
				<li><span class="bold-xsmall">Design lead</span>: Tom Morgan</li>
			</ul>
		</section>
	</div>

	<h2 class="category-heading font-large">Digital Academy</h2>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Digital Skills for Operations</h3>
			<p>Looking at ways to best provide learning support and digital skills to operational staff in job centres. Currently in a beta test and learn phase.</p>
			<!--<p><a href="#" class="button">View service</a></p>-->
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Peter Nuckley</li>
				<!--<li><span class="bold-xsmall">Design lead</span>: Jenny Domino</li>
				<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Learning Hub</h3>
			<p>Lets users access learning materials from Digital Academy courses.</p>
			<p><a href="http://digitalacademy.dwp.gov.uk/" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Annette Sweeney</li>
				<!--<li><span class="bold-xsmall">Design lead</span>: Jenny Domino</li>
				<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<h2 class="category-heading font-large">Design</h2>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Design Repository</h3>
			<p>Artwork for Digital DWP mssion patches, stickers, and posters.</p>
			<p><a href="http://design-repository.herokuapp.com " class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Gavin Elliott</li>
				<li><span class="bold-xsmall">Design lead</span>: Craig Abbott</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">DWP Elements</h3>
			<p>Elements guide for DWP services based on the research and experience of the DWP design community.</p>
			<p><a href="http://dwp-elements.herokuapp.com/" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Ben Holliday</li>
				<li><span class="bold-xsmall">Design lead</span>: Eddie Shannon</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">DWP Design patterns</h3>
			<p>Pattern guide for DWP services based on the research and experience of the DWP design community.</p>
			<p><a href="http://dwp-patterns.herokuapp.com/" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Ben Holliday</li>
				<li><span class="bold-xsmall">Design lead</span>: Eddie Shannon</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">DWP Digital by Default portfolio</h3>
			<p>Lets users see all the things we're working on in Digital DWP.</p>
			<p><a href="http://dwp-digital-services.herokuapp.com" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: James Johnson</li>
				<li><span class="bold-xsmall">Design lead</span>: Tom Morgan</li>
				<li><span class="bold-xsmall">Content lead</span>: Tom Adams</li>
			</ul>
		</section>
	</div>	

	<h2 class="category-heading font-large">Design Sprints</h2>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Policy Portfolio</h3>
			<!--<p></p>-->
			<p><a href="https://dwp-policy-tracker.herokuapp.com/versions/design-sprint/version-01/app/index" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Lorraine Hennesey</li>
				<li><span class="bold-xsmall">Design lead(s)</span>: Tom Morgan, Maxine Divers</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Provide a Fit Note</h3>
			<!--<p></p>-->
			<p><a href="https://dwp-designsprint.herokuapp.com/versions/design-sprint/version-01/index" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Michael Tattersall</li>
				<li><span class="bold-xsmall">Design lead</span>: Charles Reynolds-Talbot</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Vera Gambol</li-->
			</ul>
		</section>
	</div>

	<!--

	others to add>
	Policy: Work & Health Unit


-->

	<h2 class="category-heading font-large">Technology</h2>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Visiting management project</h3>
			<p>Technology team based in Stockport.</p>
			<!--<p><a href="#" class="button">View</a></p>-->
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Rachel Bailey</li>
				<li><span class="bold-xsmall">Design lead</span>: Phil Swan</li>
				<li><span class="bold-xsmall">Content lead</span>: Tom Adams</li>
			</ul>
		</section>
	</div>

	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Searchlight</h3>
			<p>Technology team based in Newcastle looking at a CIS replacement.</p>
			<!--<p><a href="#" class="button">View</a></p>-->
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: TBC</li>
				<li><span class="bold-xsmall">Design lead</span>: Gavin Elliott</li>
				<!--<li><span class="bold-xsmall">Content lead</span>: Tom Adams</li>-->
			</ul>
		</section>
	</div>

	<h2 class="category-heading font-large">Small Services</h2>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Cold Weather Payments</h3>
			<p>Small serivce built and maintained by the Engage team in Leeds.</p>
			<p><a href="https://coldweatherpayments.dwp.gov.uk/" class="button">View</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Dean Timmons</li>
				<!--<li><span class="bold-xsmall">Design lead</span>: Phil Swan</li>
				<li><span class="bold-xsmall">Content lead</span>: Tom Adams</li>-->
			</ul>
		</section>
	</div>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">CPSe Local Payment</h3>
			<p>Finance, Commercials and HR team based in Stockport.</p>
			<!--<p><a href="#" class="button">View</a></p>-->
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-xsmall">Responsible</span>: Mike Green</li>
			</ul>
		</section>
	</div>

</main>

{% endblock %}
