{% extends "layout.html" %}

{% block pageTitle %}
	DWP Digital Portfolio
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-large" style="margin-bottom:60px;">Here's all the other things we're doing&hellip;</h1>
	
	<h2 class="category-heading font-large">Disability &amp; Health</h2>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Project Name</h3>
			<p>Lorem ipsum dolor sit amet, ex his virtute voluptua, vim intellegam inciderint ut. Rebum noster reprimique ea per. No agam aliquid nam, reque mundi saepe ne duo. Quo populo pericula in. Sea duis decore torquatos an, eum ut commodo nusquam.</p>
			<p class="project-links"><a href="#" class="button">View service</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-small">Responsible</span>: Malcolm Vengerbus</li>
				<li><span class="bold-small">Design lead</span>: Jenny Domino</li>
				<li><span class="bold-small">Content lead</span>: Vera Gambol</li>
			</ul>
		</section>
	</div>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Project Name</h3>
			<p>Lorem ipsum dolor sit amet, ex his virtute voluptua, vim intellegam inciderint ut. Rebum noster reprimique ea per. No agam aliquid nam, reque mundi saepe ne duo. Quo populo pericula in. Sea duis decore torquatos an, eum ut commodo nusquam.</p>
			<p><a href="#">View prototype</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-small">Responsible</span>: Malcolm Vengerbus</li>
				<li><span class="bold-small">Design lead</span>: Jenny Domino</li>
				<li><span class="bold-small">Content lead</span>: Vera Gambol</li>
			</ul>
		</section>
	</div>
	
	<h2 class="category-heading font-large">Technology</h2>
	
	<div class="other-project grid-row">
		<section class="column-two-thirds">
			<h3 class="project-name heading-medium">Project Name</h3>
			<p>Lorem ipsum dolor sit amet, ex his virtute voluptua, vim intellegam inciderint ut. Rebum noster reprimique ea per. No agam aliquid nam, reque mundi saepe ne duo. Quo populo pericula in. Sea duis decore torquatos an, eum ut commodo nusquam.</p>
			<p><a href="#" class="button">View service</a></p>
		</section>
		<section class="column-third">
			<ul class="project-team">
				<li><span class="bold-small">Responsible</span>: Malcolm Vengerbus</li>
				<li><span class="bold-small">Design lead</span>: Jenny Domino</li>
				<li><span class="bold-small">Content lead</span>: Vera Gambol</li>
			</ul>
		</section>
	</div>		

</main>

{% endblock %}
